#alert {
  position: absolute;
  top: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70vw;
  height: 5vh;
  opacity: 0;
  animation: fade 2s linear;
}

@keyframes fade {
  0%, 100% { opacity: 0 }
  15%, 85% { opacity: 1 }
}

.alert-success {
  background-color: #99CB0E;
}

.alert-error {
  background-color: #af1a49;
}
