#alert {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 5vh;

  height: 5vh;
  width: 45vw;
  padding: 0.75rem;

  color: rgb(255, 255, 255);
  font-size: 1.275rem;
  border-radius: 0.75rem;
  opacity: 0;
  animation: fade 2s linear;
}

@keyframes fade {
  0%, 100% { opacity: 0 }
  15%, 85% { opacity: 1 }
}

.alert-success {
  background-color: rgba(123, 235, 127, 0.702);
}

.alert-error {
  background-color: rgba(249, 87, 138, 0.702);
}
