.animate {
  fill: none;

  stroke: #000;
  stroke-width: 1.25;

  stroke-miterlimit: 10;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
}

@keyframes stroke-offset {
  to {
    stroke-dashoffset: 0;
  }
}
