* {
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100vh;
  width: 100vw;

  background: url('https://cdn.svgator.com/images/2022/06/background-svg-image-pattern.svg');
  background-size: cover;

  font-family: sans-serif, Arial, Helvetica;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main {
  display: flex;
  gap: 2.5rem;

  height: 95vh;
  width: 85vw;
  margin-bottom: 5vh;
}
