html,body {
    box-sizing: border-box;
    background-color:#e6fcf5;
    font-family: Helvetica, sans-serif;
    height:100%;
    width:100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

body {
    background-color: #f1f1f1;
}

#root {
    width: 100%;
    height: 100%;
}

#container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

#code-section {
    width: 50%;
    padding: 1em;
    box-sizing: border-box;
}

#code-input {
    font-size: 20px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    resize: none;
    border: 2px solid grey;
    border-radius: 5px;
}

#svg-section {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    width: 50%;
    padding: 1em;
    box-sizing: border-box;
}

#svg-render {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    border: 2px solid grey;
    border-radius: 5px;
    background-color: white;
}

#svg-control-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid grey;
    border-radius: 5px;
    padding: 1em;
    flex-grow: 1;
    height: 50%;
    background-color: white;
}

#svg-control-panel h2 {
    text-align: center;
    margin-bottom: 1em;
}

#save-svg {

    border: 2px solid grey;
    border-radius: 1.5rem;
    box-sizing: border-box;
    color: #0d172a;
    cursor: pointer;
    display: inline-block;
    font-family: "Basier circle", "Helvetica Neue",Arial, sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1;
    padding: 1rem 1.6rem;
    text-align: center;
    text-decoration: none #0d172a solid;
    text-decoration-thickness: auto;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

#save-svg:hover {
    background-color: #1e293b;
    color: #fff;
}