#svg-gallery {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
}

.svg-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    margin:3em;
}
.svg-wrapper p {
    margin-bottom: 5px;
}
.svg {
    margin-top: 2%;
    border-width: 2px;
    border-style: solid;
    border-color: black;
}

.svg-wrapper:hover {
    cursor: pointer;
    filter: brightness(0.75);
    transform: scale(1.2);
}

