.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 5vh;
  width: 100vw;
  padding: 1.5rem 0;
  gap: 1rem;

  font-size: 1.125rem;
}

.nav > .left {
  display: flex;
}

.nav .image {
  height: 5vh;
  width: 5vw;
}

.nav .image::selection {
  background: none;
}
